.modalOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(128, 128, 128, 0.3);
	backdrop-filter: blur(2px);
}

.modalContent {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 2rem;
	border-radius: 16px;
	border: 1px solid var(--gray);
	background-color: var(--background-light);
	max-width: 90%;
}

.headerWrapper {
	display: flex;
	justify-content: end;
	align-items: center;
}

.input {
	padding: 0.55rem;
	border-radius: 0.5rem;
	border: 1px solid var(--gray);
	width: 400px;
	max-width: 100%;
	outline: none;
}

.select {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid var(--gray);
}
