.tabContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.tab {
	background-color: var(--light);
	padding: 8px 16px;
	font-size: 0.9rem;
}

g[data-theme='dark'] .tab {
	
}

.tab.active {
	background-color: dodgerblue;
	font-weight: '500';
	color: white;
}

.flexRow {
	display: flex;
	gap: 0.5rem;
}

.loading {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 5px solid lightcyan;
	border-top-color: lightskyblue;
	border-bottom-color: lightskyblue;
	animation: loading 0.75s linear infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}
