:root {
	--background-color: hsl(0, 0%, 97%);
	--background-light: hsl(0, 0%, 85%);
	--text-dark: hsl(0, 0%, 3%);
	--text-light-dark: hsl(0, 0%, 20%);
	--text-muted: hsl(0, 0%, 66%);
	--text-white: hsl(0, 0%, 97%);
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--gray: hsl(0, 0%, 50%);
	--light: hsl(0, 0%, 80%);
	--primary: hsl(210, 75%, 50%);
	--secondary: hsl(30, 75%, 50%);
	--success: hsl(120, 60%, 40%);
	--warning: hsl(60, 60%, 40%);
	--danger: hsl(0, 75%, 50%);
	--primary-drk: hsl(210, 75%, 40%);
	--secondary-drk: hsl(39, 75%, 40%);
	--success-drk: hsl(120, 75%, 40%);
	--warning-drk: hsl(60, 75%, 40%);
	--danger-drk: hsl(0, 75%, 40%);
	--primary-lt: hsl(210, 75%, 80%);
	--secondary-lt: hsl(39, 75%, 80%);
	--success-lt: hsl(120, 75%, 80%);
	--warning-lt: hsl(60, 75%, 80%);
	--danger-lt: hsl(0, 75%, 80%);
}

[data-theme='dark'] {
	--background-color: hsl(240, 15%, 18%);
	--background-light: hsl(240, 15%, 15%);
	--text-dark: hsl(0, 0%, 100%);
	--text-light-dark: hsl(0, 0%, 75%);
	--text-muted: hsl(0, 0%, 52%);
	--text-white: hsl(0, 0%, 3%);
	--gray: hsl(0, 0%, 50%);
	--light: hsl(0, 0%, 20%);
	--primary-drk: hsl(210, 75%, 60%);
	--secondary-drk: hsl(39, 75%, 60%);
	--success-drk: hsl(120, 75%, 56%);
	--warning-drk: hsl(60, 75%, 56%);
	--danger-drk: hsl(0, 75%, 60%);
	--primary-lt: hsl(210, 50%, 20%);
	--secondary-lt: hsl(39, 50%, 20%);
	--success-lt: hsl(120, 50%, 20%);
	--warning-lt: hsl(60, 50%, 20%);
	--danger-lt: hsl(0, 50%, 20%);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

html[data-size='sm'] {
	font-size: 14px;
}

html[data-size='lg'] {
	font-size: 18px;
}

html[data-size='xl'] {
	font-size: 20px;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-dark);
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

p {
	margin: 0;
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.btn {
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	background: none;
	cursor: pointer;
	text-transform: inherit;
	color: inherit;
	font-size: inherit;
	transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}

select {
	font-size: 0.875rem;
	cursor: pointer;
}

.select-clear,
.input-clear {
	background: none;
	border: none;
	outline: none;
	color: inherit;
}

.option-clear {
	border-width: 0;
	background-color: var(--light);
	color: var(--text-dark);
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.overflow-hidden {
	overflow: hidden;
}

.top-0 {
	top: 0;
}

.bottom-0 {
	bottom: 0;
}

.right-0 {
	right: 0;
}

.left-0 {
	left: 0;
}

.cursor-auto {
	cursor: auto;
}

.cursor-pointer {
	cursor: pointer;
}

.fs-xs {
	font-size: 0.625rem;
}

.fs-sm {
	font-size: 0.875rem;
}

.fs-md {
	font-size: 1rem;
}

.fs-lg {
	font-size: 1.15rem;
}

.fs-xl {
	font-size: 1.25rem;
}

.fs-xxl {
	font-size: 1.5rem;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.menu {
	position: fixed;
	top: 0;
	min-width: 72px;
	display: flex;
	align-items: flex-start;
	gap: 16px;
	padding: 0.75rem;
	background-color: var(--background-color);
	border-bottom-right-radius: 1rem;
	border: 1px solid var(--light);
	border-top-width: 0;
	border-left-width: 0;
	box-shadow: 5px 5px 10px var(--background-color);
}

.menu-items {
	display: none;
	flex-direction: column;
	gap: 8px;
	text-align: left;
}

.menu-items.show {
	display: flex;
}

.content {
	padding-left: 80px;
}

.w-auto {
	width: auto;
}

.w-10 {
	width: 10%;
}

.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.h-20px {
	height: 20px;
}

.min-w-100px {
	min-width: 100px;
}

.min-w-200px {
	min-width: 200px;
}

.min-w-300px {
	min-width: 300px;
}

.min-w-400px {
	min-width: 400px;
}

.min-w-500px {
	min-width: 500px;
}

.min-w-600px {
	min-width: 600px;
}

li {
	list-style: none;
}

.border-none {
	border: none;
}

table {
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	padding: 8px 12px;
}

tr td {
	border-bottom: 1px solid var(--light);
}

td.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

tbody tr:hover:not(.nohover) {
	box-shadow: 0 0 10px var(--primary-lt);
	background-color: var(--primary-lt);
}

.table-col-0 {
	width: 40px;
	white-space: nowrap;
}

.table-col-1 {
	width: 80px;
	white-space: nowrap;
}

.table-col-2 {
	width: 100px;
	white-space: nowrap;
}

.table-col-3 {
	width: 125px;
	white-space: nowrap;
}

.table-col-4 {
	width: 200px;
	white-space: nowrap;
}

.l-spacing-0 {
	letter-spacing: 0;
}

.l-spacing-sm {
	letter-spacing: 0.5px;
}

.l-spacing-md {
	letter-spacing: 1px;
}

.l-spacing-lg {
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: var(--text-dark);
}

a:visited {
	color: var(--text-dark);
}

a.active {
	color: var(--primary);
}

a:hover {
	color: var(--primary-drk);
}

.border {
	border: 1px solid var(--light);
}

.border-bottom {
	border-bottom: 1px solid var(--light);
}

.text-nowrap {
	white-space: nowrap;
}

.text-start {
	text-align: left;
}

.text-end {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-underline {
	text-decoration: underline;
}

.text-normal {
	font-weight: normal;
}

.text-semibold {
	font-weight: '500';
}

.text-bold {
	font-weight: bold;
	letter-spacing: 0.75px;
}

.text-truncate {
	text-overflow: ellipsis;
	overflow: hidden;
}

.badge {
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.col-12 {
	width: 100%;
}

.col-11 {
	width: calc(100% * 11 / 12);
}

.col-10 {
	width: calc(100% * 5 / 6);
}

.col-9 {
	width: calc(100% * 3 / 4);
}

.col-8 {
	width: calc(100% * 2 / 3);
}

.col-7 {
	width: calc(100% * 7 / 12);
}

.col-6 {
	width: calc(100% / 2);
}

.col-5 {
	width: calc(100% * 5 / 12);
}

.col-4 {
	width: calc(100% / 3);
}

.col-3 {
	width: calc(100% / 4);
}

.col-2 {
	width: calc(100% / 6);
}

.col-1 {
	width: calc(100% / 12);
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-end {
	justify-content: end;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: start;
}

.flex-row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.btn-link {
	padding: 0;
}

.btn-icon {
	padding: 8px;
}

.btn-icon svg {
	display: block;
}

.btn-link:hover,
.btn-link.active {
	color: var(--primary);
}

.btn-primary {
	background-color: var(--primary);
	color: var(--white);
}

.btn-primary:hover:not(:disabled) {
	background-color: var(--primary-drk);
}

.btn-secondary {
	background-color: var(--secondary);
}

.btn-secondary:hover:not(:disabled) {
	background-color: var(--secondary-drk);
	color: var(--text-white);
}

.btn-danger {
	background-color: var(--danger);
	color: var(--white);
}

.btn-danger:hover:not(:disabled) {
	background-color: var(--danger-drk);
	color: var(--black);
}

.btn-success {
	background-color: var(--success);
	color: var(--white);
}

.btn-success:hover:not(:disabled) {
	background-color: var(--success-drk);
	color: var(--text-white);
}

.btn-warning {
	background-color: var(--warning);
	color: var(--white);
}

.btn-warning:hover:not(:disabled) {
	background-color: var(--warning-drk);
	color: var(--text-white);
}

.btn-light-primary {
	background-color: var(--primary-lt);
}

.btn-light-secondary {
	background-color: var(--light);
}

.btn-light-secondary:hover {
	background-color: var(--gray);
}

.btn-light-danger {
	background-color: var(--danger-lt);
}

.btn-light-success {
	background-color: var(--success-lt);
}

.bg-none {
	background: none;
}

.bg-white {
	background-color: var(--white);
}

.bg-light {
	background-color: var(--light);
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-danger {
	background-color: var(--danger);
}

.bg-success {
	background-color: var(--success);
}

.bg-warning {
	background-color: var(--warning);
}

.bg-light-primary {
	background-color: var(--primary-lt);
}

.bg-light-secondary {
	background-color: var(--light);
}

.bg-light-danger {
	background-color: var(--danger-lt);
}

.bg-light-success {
	background-color: var(--success-lt);
}

.text-muted {
	color: var(--text-muted);
}

.text-light-dark {
	color: var(--text-light-dark);
}

.text-warning,
.text-hover-warning:hover,
.text-active-warning:active {
	color: var(--warning);
}

.text-primary {
	color: var(--primary);
}

.text-success {
	color: var(--success);
}

.text-danger {
	color: var(--danger);
}

.text-white {
	color: var(--text-white);
}

.text-dark {
	color: var(--text-dark);
}

.rounded-1 {
	border-radius: 4px;
}

.rounded-2 {
	border-radius: 8px;
}

.rounded-3 {
	border-radius: 12px;
}

.rounded-4 {
	border-radius: 16px;
}

.rounded-5 {
	border-radius: 20px;
}

.rounded-6 {
	border-radius: 24px;
}

.rounded-7 {
	border-radius: 28px;
}

.rounded-8 {
	border-radius: 32px;
}

.rounded-9 {
	border-radius: 36px;
}

.rounded-10 {
	border-radius: 40px;
}

.rounded-50 {
	border-radius: 50%;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-3 {
	padding: 0.75rem;
}

.p-4 {
	padding: 1rem;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.pl-0 {
	padding-left: 0;
}

.pl-1 {
	padding-left: 0.25rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.pl-3 {
	padding-left: 0.75rem;
}

.pl-4 {
	padding-left: 1rem;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.5rem;
}

.m-3 {
	margin: 0.75rem;
}

.m-4 {
	margin: 1rem;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.mx-3 {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mx-5 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.mx-6 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.mx-7 {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.mx-8 {
	margin-left: 3rem;
	margin-right: 3rem;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-3 {
	margin-bottom: 0.75rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-3 {
	gap: 0.75rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-5 {
	gap: 1.25rem;
}
.gap-6 {
	gap: 1.5rem;
}
.gap-7 {
	gap: 1.75rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-9 {
	gap: 2.5rem;
}
.gap-10 {
	gap: 3rem;
}

.dropdown {
	position: relative;
	min-width: 30px;
}

.dropdown-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 2.2rem;
	right: 0;
	border-radius: 0.75rem;
	border: 1px solid var(--light);
	background-color: var(--background-color);
	z-index: 70;
	overflow: hidden;
}

.dropdown-label {
	color: var(--gray);
	padding: 0.5rem 1rem;
	border-bottom: 1px solid var(--light);
}

.dropdown-btn {
	background-color: var(--text-white);
	border-radius: 0;
	border-bottom: 1px solid var(light);
	min-width: 225px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-btn:last-child {
	border-bottom: none;
}

.dropdown-btn:hover {
	background-color: var(--primary-drk);
	color: var(--text-white);
}

.loadingPlaceholder {
	width: 100%;
	height: 20px;
	animation: loadingPlaceholder 2s linear infinite;
}

.animated-alert {
	padding: 0.5rem 1rem;
	border-left: 5px solid var(--primary);
	border-radius: 0.5rem;
	background-color: var(--text-white);
	animation: alertAnim10 10s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.24) -2px 2px 10px;
}

.alert-danger {
	border-left-color: var(--danger);
}

.alert-success {
	border-left-color: var(--success);
}

.animation-10 {
	animation-duration: 10s;
}

.animation-20 {
	animation-duration: 20s;
	animation: alertAnim20 20s ease-in-out;
}

.animation-30 {
	animation-duration: 30s;
	animation: alertAnim30 30s ease-in-out;
}

.animation-60 {
	animation-duration: 60s;
	animation: alertAnim60 60s ease-in-out;
}

.animation-interrupted {
	animation: alertAnimInter ease-in-out;
}

@keyframes loadingPlaceholder {
	0% {
		background-color: var(--gray);
	}

	50% {
		background-color: var(--light);
	}

	100% {
		background-color: var(--gray);
	}
}

@keyframes alertAnim10 {
	0% {
		transform: translateX(calc(100% + 1rem));
	}

	5% {
		transform: translateX(-16px);
	}

	8% {
		transform: translateX(0);
	}

	87% {
		transform: translateX(0);
	}

	90% {
		transform: translateX(-16px);
	}

	95% {
		transform: translateX(calc(100% + 1rem));
	}

	100% {
		transform: translateX(calc(100% + 1rem));
	}
}

@keyframes alertAnim20 {
	0% {
		transform: translateX(calc(100% + 1rem));
	}

	2.5% {
		transform: translateX(-16px);
	}

	4% {
		transform: translateX(0);
	}

	91% {
		transform: translateX(0);
	}

	92.5% {
		transform: translateX(-16px);
	}

	95% {
		transform: translateX(calc(100% + 1rem));
	}

	100% {
		transform: translateX(calc(100% + 1rem));
	}
}

@keyframes alertAnim30 {
	0% {
		transform: translateX(calc(100% + 1rem));
	}

	2% {
		transform: translateX(-16px);
	}

	3% {
		transform: translateX(0);
	}

	92% {
		transform: translateX(0);
	}

	93% {
		transform: translateX(-16px);
	}

	95% {
		transform: translateX(calc(100% + 1rem));
	}

	100% {
		transform: translateX(calc(100% + 1rem));
	}
}

@keyframes alertAnim60 {
	0% {
		transform: translateX(calc(100% + 1rem));
	}

	1% {
		transform: translateX(-16px);
	}

	1.5% {
		transform: translateX(0);
	}

	93.5% {
		transform: translateX(0);
	}

	94% {
		transform: translateX(-16px);
	}

	95% {
		transform: translateX(calc(100% + 1rem));
	}

	100% {
		transform: translateX(calc(100% + 1rem));
	}
}

@keyframes alertAnimInter {
	0% {
		transform: translateX(0);
	}

	93.5% {
		transform: translateX(0);
	}

	94% {
		transform: translateX(-16px);
	}

	95% {
		transform: translateX(calc(100% + 1rem));
	}

	100% {
		transform: translateX(calc(100% + 1rem));
	}
}

@media (min-width: 576px) {
	.d-sm-block {
		display: block;
	}

	.d-sm-flex {
		display: flex;
	}

	.menu {
		position: relative;
		width: 100%;
		margin-bottom: 32px;
		margin-top: 16px;
		padding: 16px 32px;
		overflow-x: auto;
		border: none;
	}

	.menu-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 32px;
		font-size: 1.2rem;
		letter-spacing: 1.5px;
	}

	.content {
		padding-left: 0;
	}

	.mobile-btn {
		display: none;
	}
}

@media (min-width: 992px) {
	.d-lg-block {
		display: block;
	}

	.d-lg-flex {
		display: flex;
	}

	.flex-lg-1 {
		flex: 1;
	}

	.mx-lg-0 {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 1200px) {
	.menu {
		justify-content: center;
	}

	.mx-xl-0 {
		margin-left: 0;
		margin-right: 0;
	}
}
